body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191919;
    color: #1DB954;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #121212;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    font-size: 18px;
}

.text-right {
    margin-left: auto;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.playlist-info .gif {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.playlist-info {
    width: fit-content;
    display: flex;
    align-items: center;
}

.text1 {
    padding: 30px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    opacity: 0.8;
    font-family: Verdana, Geneva, sans-serif;
}

hr {
    width: 100%;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #1ed760, #191515);
    border-image-slice: 1;
    margin: 20px 0;
}

.box_playlist_info {
    background: linear-gradient(rgb(22, 162, 205), rgb(25, 25, 25));
    width: 100vw;
    height: 350px;
    margin: -20px;
    z-index: -1;
    position: absolute;
    backdrop-filter: blur(10px); 
}

.song-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.song {
    width: 100%;
    height: 60px;
    background-color: rgba(19, 19, 19, 0.5);
    transition: transform 0.3s ease-in-out;
    display: flex;
    border-radius: 10px;
}

.song img {
    border-radius: 10px;
    width: 60px;
    height: 60px;
}

.song-info {
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-title {
    font-size: 16px;
    margin: 5px 0;
    color: #fff;
}

.song:hover {
    transform: scale(1.02);
    background-color: rgba(29, 29, 29, 0.5);
}

.buttons {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.button {
    
    background-color: #1DB954;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 50%;
    height: 60%;
    box-sizing: border-box;
    margin-right: 10px;

}

.button:hover {
    background-color: #156e34;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;
}

img.gif {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

h2 {
    color: rgb(25, 81, 25);
}


/* Добавьте следующие стили в ваш файл стилей (например, main.css) */
/* Общие стили для кнопок */
.button, .button-play, .button-favorite {
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease-in-out;
    box-sizing: border-box;
    height: 60%;
    display: flex;
    align-items: center;
    background: none;
}

.button:hover, .button-play:hover, .button-favorite:hover {
    background-color: #6442ca;
}

.button-favorite {
    background: none;
    margin-left: 5px; /* Уменьшил отступ */
    display: inline-flex; /* Использовал inline-flex для выравнивания по вертикали */
    align-items: center;
    position: relative;
    overflow: hidden;
}

.button-favorite img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.button-favorite::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
    background: none;
}

.button-favorite:hover img {
    transform: scale(1.2);
}

.button-favorite:hover::before {
    opacity: 1;
    animation: pulse 1s ease infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.button-favorite.clicked::before {
    animation: heartbeat 0.6s ease-out;
}

/* Стили для кнопки Play */
.button-play {
    padding: 2px 4px;
    background-color: rgba(128, 68, 206, 0.6);
    color: #fff;
    border-radius: 4px;
    width: 30px; /* Установил фиксированную ширину для кнопки Play */
    height: 30px; /* Установил фиксированную высоту для кнопки Play */
    margin-right: 10px; /* Добавил отступ справа для разделения кнопок */
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-play:hover {
    background-color: rgba(101, 43, 208, 0.6);
}

/* Добавьте следующие стили в ваш файл стилей (например, в everyeday.css) */
#progress-container {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

#song-progress {
    width: 100%;
    height: 10px;
    background-color: #535353;
    position: relative;
    cursor: pointer;
}

#progress-indicator {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #1DB954;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 0 5px rgba(29, 185, 84, 0.7);
}

#progress-indicator:hover {
    transform: translateY(-50%) scale(1.2);
}
#cursor-trail {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(29, 185, 84, 0.7);
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: transform 0.2s ease;
}

